@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@700&family=Baloo+Bhai+2:wght@800&family=Baloo+Bhaijaan+2:wght@500&family=IBM+Plex+Sans:ital,wght@1,200;1,300&family=Oswald&family=Poppins:ital,wght@0,600;1,200&family=Uchen&family=Work+Sans:ital,wght@0,200;0,800;1,400&display=swap');

h1{
	font-family: 'Baloo Bhaijaan 2', cursive
	/* font-family: 'Poppins', sans-serif; */
}
h2,h3,h4,h5,h6{
	font-family: 'Baloo Bhaijaan 2', cursive
	/* font-family: 'Poppins', sans-serif; */
}
p,span{
	font-family: 'Baloo Bhaijaan 2', cursive;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-item a:hover {
color: yellowgreen !important;
}
.nav-item a:focus {
color: yellowgreen !important;
}

.text-white{
	margin: 0px 30px;
}

.alert{
	font-size: 15px;
}

img{
	width: 5%;
	margin-left: 3%;
}

footer{
    margin-top: auto;
}

.bg-primary-header{
    background: #0b2149 !important;
  }
 
  footer{

	background: #0b2149 !important;
}

.collapse {
	margin-left:8%;
}
.nav-item{
	font-size: 20px;
}

.navbar-brand{
	margin-left: 2%;
}


.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */

@media(max-width: 991px){
	img{
		width: 10%;
		margin-left: 3%;
	}
}

@media(max-width: 768px){
	
	.col-md-4{
		margin-bottom: 10%;
	}

	.container2{
		margin-top: -95px;
	}
}
